/* - [ ] Set all paragraph text to have a font of `sans-serif`.
- [ ] Set all heading text to have a font of `serif`.
- [ ] Set all heading text to be centered.
- [ ] Set all anchor elements to have no text decoration.
- [ ] Set all anchor elements to have a color of `#4242EA`.
- [ ] Set all unordered lists to have no list-style.
- [ ] Set all `span` elements inside the footer to have a `font-weight` of `700`.
- [ ] Set all paragraph text inside the element with the class of `weather` to have a font size of `40px`.
- [ ] Set all articles inside the `.above-the-fold` element to have a `display` value of `inline-block`.
- [ ] Set the `.weather` element to have a `width` of `300px`.
- [ ] Set the `.weather` element to have a `2px gray border` on all sides.
- [ ] Set the `.breaking-news` element to have a top/down padding of `0px` and a left/right padding of `30px`.
- [ ] Set the image inside of the `.breaking-news` element to have a `width` of `200px`.
- [ ] Set all articles inside the element with the class of `.click-bait` to have a `display` of `inline-block`.
- [ ] Set all articles inside the element with the class of `.click-bait` to have a `width` of `250px`.
- [ ] Set all articles inside the element with the class of `.click-bait` to have `16px` of margin and padding on all sides.
- [ ] Set all articles inside the element with the class of `.click-bait` to have `box-sizing` set to `border-box`.
- [ ] Set all articles inside the element with the class of `.below-the-fold` to have a `display` of `inline-block`.
- [ ] Set the image inside the element with the class of `.below-the-fold` to have a `display` of `inline-block`.
- [ ] Set the image inside the element with the class of `.below-the-fold` to have `16px` of margin and padding on all sides.
- [ ] Set the image inside the element with the class of `.below-the-fold` to have a `width` of `200px`.
- [ ] Set the div inside the element with the class of `.below-the-fold` to have a `width` of `500px`. */

p {
    font: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font: serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: #4242EA;
}

ul {
    list-style: none;
}

footer, span {
    font-weight: 700;
}

.weather p {
font-size: 40px;
}

.above-the-fold article {
    display: inline-block;
}

.weather {
    width: 300px;
    border: 2px;
}

.breaking-news{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

.breaking-news img {
     width: 200;
}

.click-bait article {
    display: inline-block;
    margin: 16px;
    padding: 16px;
    box-sizing: border-box;
}

.below-the-fold article{
    display: inline-block;
}

.below-the-fold img {
    margin: 16px;
    padding: 16px;
    width: 200px;
}

.below-the-fold div {
    width: 500px;
}


